header{
    background-image: url("../img/bg.jpg");
    background-position: bottom;
}

.wrapper{
    position: relative;
    height: 100%;
    width: 100%;
}

.blue_fill{
    background-color: #3396d8;
    padding: 20px 50px;
    border: none;
}

section.success{
        background: #3396d8;
}

#venture{
    background-image: url("../img/venture_center.jpg");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
   -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}


@media (min-width: 768px) {
  .navbar-default{
    background-color: transparent;
    }
  .navbar-fixed-top.navbar-shrink {
    background-color: #343432;
  }
}

iframe{
    max-width: 90%;
}
